# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
- popular languages that Data Scientists.
- commonly used libraries used by Data Scientists.
- Tools for Data Science.
- API'S for Data Science.
- Datasets for Data Science.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql
4. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

#### Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
| Rstudio |
| Jupyter Lab |
| Watson studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
mins=200
hour=200/60
print(hour)

3.3333333333333335

## Author:
Priyansh Mehta